<div class="w-full flex flex-col">
  @if (label()) {
    <label class="block text-slate-600">{{ label() }}</label>
  }

  <input
    class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 my-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
    [type]="type()"
    [placeholder]="placeholder()"
    [formControl]="control()"
  >

  @if (control().hasError('required')) {
    <app-small-error label="This field is mandatory"></app-small-error>
  }

  @if (control().hasError('email')) {
    <app-small-error label="Invalid email"></app-small-error>
  }

  @if (control().hasError('minlength')) {
    <app-small-error label="Text is too short"></app-small-error>
  }
</div>
